<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>摩托车配件</title>
</head>
<body>
</div>
	  <div class="head_top_nr">
	    <div class="head_top_nav">
        <style type="text/css">        ul, li{list-style: none;}        ul:after{content: ''; display: block; clear: both;}        li{width: 100px; height: 100px; font-size: 20px; float: left; margin-right: 10px;}    </style>
        <ul>
          <li style="background:url(http://www.qichepeijian.com/images/navr2_bg.jpg) no-repeat;"><span class="home_a"><a href="http://www.qichepeijian.com/" rel="nofollow">零配件</a></span></li>
          <li><span class="home_b"><a href="#" >摩托车品牌</a></span></li>
          <li><span class="home_b"><a href="#">摩托车配件</a></span></li>
          <li><span class="home_b"><a href="#" rel="nofollow">拆车件</a></span></li>
          <li><span class="home_b"><a href="#" rel="nofollow">摩托车用品</a></span></li>
          <li><span class="home_b"><a href="#" rel="nofollow">摩托车维修</a></span></li>
        </ul>
        </div>
	    <div class="head_top_nav2">
          <div class="head_top_input_zhong">
		    <div class="head_top_inputb"><input type="image" src="http://www.qichepeijian.com/images/help_arrow1.jpg" alt="" /></div>
		    <div class="head_top_inputc"><input type="text" value=""/></div>
          </div>
            <style type="text/css">        alt{width: 100px; height: 100px; font-size: 20px; float: left; margin-right: 10px;}    </style>
            <div class="head_top_inputd"><a href="http://www.qichepeijian.com/dinggou.aspx" target="_blank" rel="nofollow"><input type="image" alt="搜索" src="http://www.qichepeijian.com/images/top_search.jpg" style="border:0px;" /></a></div>
		  <div class="head_top_keyword">


	  </div>
	</div>
</div>
  </div>
</body>
</html>